@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  background: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.125rem;
}

.logo {
  font-family: "Ribeye", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.nav a {
  margin-left: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #FFFFFF;
}

.header_btn a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
}

.header_btn {
  padding: 0.625rem 2.5rem;
  background-color: #C9453B;
}

.banner_info {
  padding-top: 12.5rem;
  padding-bottom: 11.25rem;
}

.banner_info h1 {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 120%;
  color: #FFFFFF;
  width: 37.5rem;
  margin-bottom: 1.25rem;
}

.banner_info p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 160%;
  width: 31.25rem;
  margin-bottom: 1.875rem;
  color: #FFFFFF;
}

.banner_info_btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
  padding: 0.75rem 2.8125rem;
  background-color: #C9453B;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 992px) {
  .header_btn {
    display: none;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 10, 10, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    z-index: 100;
  }

  .hamburger {
    display: inline-block;
    z-index: 101;
  }

  .nav.is-active {
    transform: translateX(0);
    transition: 0.4s;
  }

  .nav a {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
  }
}
.title-popular {
  padding-top: 3.125rem;
  text-align: center;
  padding-bottom: 3.125rem;
}

.title-popular h1 {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.6875rem;
  line-height: 140%;
  color: #000000;
}

.title-popular p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 160%;
  color: #000000;
  opacity: 16;
}

.section_popular {
  margin-bottom: 6.25rem;
}

.grid-popular {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card-popular img {
  width: 100%;
}

.card-popular {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0.625rem;
}

.info-text_popular {
  text-align: center;
  padding: 1.25rem 0 1.25rem 0;
}

.info-text_popular h1 {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.info-text_popular p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 160%;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .grid-popular {
    display: block;
    margin-top: 3.125rem;
  }
}
.title-special {
  text-align: center;
  margin-top: 6.25rem;
}

.coordinates_ny {
  display: flex;
  align-items: center;
}

.title-special h1 {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.6875rem;
  line-height: 140%;
  color: #000000;
}

.title-special p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 160%;
  color: #000000;
  opacity: 16;
}

.img_special {
  width: 75%;
  padding-bottom: 0.625rem;
}

.title_loc {
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4.375rem;
}

.card-special h1 {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  color: #000000;
}

.card_special h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 150%;
  color: #000000;
  opacity: 12;
  padding-left: 0.75rem;
}

.card_special p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}

.card_special span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #000000;
}

.card_special {
  padding-top: 2.5rem;
}

.grid_special {
  margin-left: 3.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 992px) {
  .grid_special {
    display: block;
  }

  .img_special {
    width: 100%;
  }
}
.img_canada {
  width: 90%;
}

.img_news {
  width: 36%;
  padding-right: 1.25rem;
}

.card_title_blog_news h1 {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: #000000;
  padding-bottom: 0.9375rem;
  padding-top: 1.5625rem;
}

.card_title_blog_news p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 160%;
  color: #000000;
  opacity: 12;
  width: 28.75rem;
  padding-bottom: 0.625rem;
}

.card_title_blog_news a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  transition: 1s;
}

.card_title_blog_news a:hover {
  color: #085d8f;
  transition: 1s;
}

.grid_blog-news {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.625rem;
  margin-top: 3.75rem;
}

.card_blog_news:nth-child(1) {
  grid-row: 1/4;
}

.card_blog_news_big {
  margin-left: 150px;
}

.card_title_blog_news_mini {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .grid_blog-news {
    display: block;
  }

  .img_news {
    width: 50%;
    margin-left: 200px;
  }

  .card_title_blog_news_mini {
    display: block;
    margin-top: 1.25rem;
  }

  .img_canada {
    width: 50%;
    margin-left: 6.25rem;
  }

  .card_title_blog_news {
    text-align: center;
  }

  .card_title_blog_news p {
    display: none;
  }
}
.footer {
  background: rgba(38, 148, 153, 0.04);
  margin-top: 6.25rem;
}

.title_soical h1 {
  font-family: "Ribeye", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  padding-bottom: 50px;
}

.soical a {
  padding-right: 20px;
}

.title_soical p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #000000;
  padding-bottom: 20px;
}

.footer_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_nav a {
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  transition: 1s;
}

.footer_nav a:hover {
  color: #07476b;
  transition: 1s;
}

.footer_info a {
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  transition: 1s;
}

.footer_info a:hover {
  color: #07476b;
  transition: 1s;
}

.subscribe h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 1200;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  padding-bottom: 40px;
}

.email_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 4px rgba(38, 148, 153, 0.04);
  border: 1px solid #626566;
}

.button_footer a {
  font-family: "Roboto", sans-serif;
  background: #C9453B;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
