doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='../css/style.css')
  body
    .wrapper
      .container
        header.header
          .logo Trevland
          nav.nav
            a(href='#') Home
            a(href='#') Location
            a(href='#') Blog
            a(href='#') About
            a(href='#') Contact
          div(class='header_btn')
            a(href='#') Booking now
        div(class='banner_info')
          h1 Railtrips To Here, There And Everywhere!
          p We all wish to start our year the best way possible and also according to a common belief if you have a great start to your.
          a(href='#' class='banner_info_btn') Explore more
